// Import core styles
@import '../../node_modules/@tweakpane/core/lib/sass/plugin';

// Additional style for the plugin
.#{$prefix}-tmpv .tp-rotv {
	box-shadow: none;
}

.#{$prefix}-tmpv .tp-brkv {
	display: flex;
	flex-wrap: wrap;
	width: fit-content;
	background-color: transparent;

}

.#{$prefix}-tmpv .tp-lblv{
	padding-left:0px;
}
.#{$prefix}-tmpv .tp-lblv.tp-v-lst{
	padding-right:0px;
}

.#{$prefix}-tmpv .tp-lblv_l{
	display:none;
}

.#{$prefix}-tmpv .tp-lblv_l{
	display:none;
}

.#{$prefix}-tmpv .tp-lblv_v{
	min-width: auto;
	flex: 1;
}

.#{$prefix}-tmpv .tp-rotv_c>*{
	margin-top: 0px;
}

.#{$prefix}-tmpv .tp-rotv.tp-rotv-expanded .tp-rotv_c, 
.#{$prefix}-tmpv .tp-fldv.tp-fldv-expanded>.tp-fldv_c{
	padding-bottom: 0px;
	padding-top: 0px;
}
